/* Couleurs et thèmes */
:root {
    /* UI générique */
    --ui-offset: clamp(0.5rem, 5vw, 1rem);
    --ui-padding: clamp(0.25rem, 1vw, 0.5rem);
    --ui-gap: clamp(0.25rem, 1vw, 0.5rem);
    --ui-radius: clamp(0.5rem, 3vw, 1rem);
    --icon-size: clamp(0.87rem, 2.5vw, 1.2rem);
    --font-scale: clamp(0.75rem, 2vw, 0.9rem);

    --color-bg: #ffffff;
    --color-fg: #333333;
    --color-primary: #51247A;
    --color-secondary: #CBAE88;
    --color-panel: rgba(255, 255, 255, 0.95);
    --canvas-bg: #ffffff;
    --color-tooltip-bg: white;
    --color-tooltip-fg: var(--color-primary);
    --shadow-popup: 0 6px 20px rgba(0, 0, 0, 0.12);
    --shadow-ui: 0 8px 20px rgba(0, 0, 0, 0.1);
    --color-scale-bar: black;
    --viewer2d-bg: #ffffff;

    --font-base: 'Open Sans', sans-serif;
    --anim-duration: 0.5s;
    --anim-ease: ease-out;

    --toolbar-icon-size: clamp(1.25rem, 1vw, 3rem);
    --toolbar-padding: clamp(0.25rem, 3vw, 0.7rem);

    --toolbar-height: calc(
        var(--toolbar-icon-size) 
        + var(--toolbar-padding) * 2
    );
    --scale-bar-gap: clamp(1rem, 3vw, 1rem);

    --toggle-height: calc(
        var(--font-scale)      
        + var(--ui-padding) * 3
    );

    --sample-name-gap: clamp(0.75rem, 5vw, 1.5rem);
}

:root[data-theme="dark"] {
    --color-bg: #1a1a1a;
    --color-fg: #eeeeee;
    --color-primary: #CBAE88;
    --color-secondary: #51247A;
    --color-panel: rgba(30, 30, 30, 0.95);
    --canvas-bg: #121212;
    --color-tooltip-bg: #1f1f1f;
    --color-tooltip-fg: var(--color-primary);
    --shadow-popup: 0 6px 20px rgba(0, 0, 0, 0.6);
    --shadow-ui: 0 8px 20px rgba(0, 0, 0, 0.4);
    --color-scale-bar: var(--color-fg);
    --viewer2d-bg: #1a1a1a;

    --toolbar-icon-size: clamp(1.25rem, 1vw, 3rem);
    --toolbar-padding: clamp(0.25rem, 3vw, 0.7rem);

    --toolbar-height: calc(
        var(--toolbar-icon-size) 
        + var(--toolbar-padding) * 2
    );
    --scale-bar-gap: clamp(1rem, 3vw, 1rem);

    --toggle-height: calc(
        var(--font-scale)      
        + var(--ui-padding) * 3
    );

    --sample-name-gap: clamp(0.75rem, 5vw, 1.5rem);
}
